$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;

  position: relative;
}

#content {
  clear: both;
  padding-top: 20px;

  margin-right: 150px;
}

.sidebarout {
  width: 150px;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 20px;
  line-height: 1.25em;
}

.sidebarout a {
  text-decoration: none;
}